<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NuGenUnify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NuGenUnify.Properties.Settings>
            <setting name="AllowDuplicateType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DuplicateTypeName" serializeAs="String">
                <value />
            </setting>
            <setting name="Closed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyAttributes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelaySign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Internalize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SholdLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetKind" serializeAs="String">
                <value>SameAsPrimaryAssembly</value>
            </setting>
            <setting name="XmlDocumentation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowWildCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowZeroPKind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublicKeyTokens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetPlatform" serializeAs="String">
                <value>v1</value>
            </setting>
            <setting name="FileCorePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UnionMerge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMultipleAssemblyLevelAttributes" serializeAs="String">
                <value>False</value>
            </setting>
        </NuGenUnify.Properties.Settings>
    </userSettings>
</configuration>