<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Genetibase.NuGenVisiCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Genetibase.NuGenVisiCalc.Properties.Settings>
            <setting name="MainForm_Location" serializeAs="String">
                <value>240, 0</value>
            </setting>
            <setting name="MainForm_Size" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="MainForm_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ToolboxForm_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolboxForm_Size" serializeAs="String">
                <value>240, 320</value>
            </setting>
            <setting name="PropertiesForm_Size" serializeAs="String">
                <value>240, 320</value>
            </setting>
            <setting name="PropertiesForm_Location" serializeAs="String">
                <value>880, 0</value>
            </setting>
            <setting name="PropertiesForm_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolboxForm_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainForm_CanvasSize" serializeAs="String">
                <value>512, 512</value>
            </setting>
            <setting name="MainForm_MaintainCanvasSizeAspectRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputForm_Location" serializeAs="String">
                <value>240, 480</value>
            </setting>
            <setting name="OutputForm_Size" serializeAs="String">
                <value>640, 150</value>
            </setting>
            <setting name="OutputForm_Visible" serializeAs="String">
                <value>True</value>
            </setting>
        </Genetibase.NuGenVisiCalc.Properties.Settings>
    </userSettings>
</configuration>