<?xml version="1.0"?>

<configuration>
 
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SocialNetworkLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
  
  <connectionStrings>
    

 <add name="DataAccessQuickStart" connectionString="server=69.21.114.99;database=Next2Friends;uid=N2FDBLogin8745;password=59c42xMJH03t3fl83dk;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <dataConfiguration defaultDatabase="DataAccessQuickStart"/>
  
 <applicationSettings>
  <SocialNetworkLib.Properties.Settings>
   <setting name="SocialNetworkLib_com_google_api_GoogleSearchService"
    serializeAs="String">
    <value>http://api.google.com/search/beta2</value>
   </setting>
   <setting name="SocialNetworkLib_WebReference_AskAFriend" serializeAs="String">
    <value>http://services.next2friends.com/N2fWebServices/AskAFriend.asmx</value>
   </setting>
   <setting name="SocialNetworkLib_ws1_PhotoOrganise" serializeAs="String">
    <value>http://69.21.114.101/n2fwebservices/photoorganise.asmx</value>
   </setting>
   <setting name="SocialNetworkLib_BTTagSend_BTTagSend" serializeAs="String">
    <value>http://services.next2friends.com/n2fwebservices/BTTagSend.asmx</value>
   </setting>
  </SocialNetworkLib.Properties.Settings>
 </applicationSettings>
</configuration>
