<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <lightingPresets>
    <lightingSetup name="Natural">
      <light type="ambient">
        <color r="32" g="32" b="32"/>
      </light>
      <light type="directional" enabled="true" name="sun">
        <color r="240" g="240" b="240"/>
        <direction x="0.3" y="-1" z="0.3"/>
      </light>
    </lightingSetup>
    <lightingSetup name="3-Spots">
      <light type="directional" enabled="true" name="red">
        <color r="255" g="0" b="0"/>
        <direction x="0.5" y="1" z="0.5"/>
      </light>
      <light type="directional" enabled="true" name="green">
        <color r="0" g="255" b="0"/>
        <direction x="-0.5" y="1" z="-0.5"/>
      </light>
      <light type="directional" enabled="true" name="blue">
        <color r="0" g="0" b="255"/>
        <direction x="0" y="-1" z="0"/>
      </light>
    </lightingSetup>
    <lightingSetup name="Lab">
      <light type="ambient">
        <color r="128" g="128" b="128"/>
      </light>
      <light type="directional" enabled="true" name="light0">
        <color r="128" g="128" b="128"/>
        <direction x="0.5" y="-0.5" z="0.5"/>
        <specular intensity="0.6"/>
      </light>
    </lightingSetup>
  </lightingPresets>
</configuration>