<materials>
	<bonds>
		<bond order="1" color="Gray" size="1" />
		<bond order="2" color="Gray" size="2" />
		<bond order="3" color="Gray" size="3" />
	</bonds>
	<atoms>
		<atom name="Carbon" symbol="C" color="Green" size="5" />
		<atom name="Oxygen" symbol="O" color="Red" size="5" />
		<atom name="Hydrogen" symbol="H" color="LightGray" size="3" />
		<atom name="Nitrogen" symbol="N" color="Navy" size="5" />
		<atom name="Chlorine" symbol="Cl" color="Cyan" size="5" />
		<atom name="Sulphur" symbol="S" color="Yellow" size="5" />
	</atoms>
</materials>