<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <chemicalSeries>
    <chemicalSerie id="Nonmetals">
      <color desc="LightGray"/>
    </chemicalSerie>
    <chemicalSerie id="Noble Gasses">
      <color desc="LightBlue"/>
    </chemicalSerie>
    <chemicalSerie id="Alkali Metals">
      <color desc="SlateBlue"/>
    </chemicalSerie>
    <chemicalSerie id="Alkali Earth Metals">
      <color desc="SpringGreen"/>
    </chemicalSerie>
    <chemicalSerie id="Metalloids">
      <color desc="Tan"/>
    </chemicalSerie>
    <chemicalSerie id="Halogens">
      <color desc="DarkViolet"/>
    </chemicalSerie>
    <chemicalSerie id="Metals">
      <color desc="Silver"/>
    </chemicalSerie>
    <chemicalSerie id="Transition metals">
      <color desc="SteelBlue"/>
    </chemicalSerie>
    <chemicalSerie id="Lanthanides">
      <color desc="Yellow"/>
    </chemicalSerie>
    <chemicalSerie id="Actinides">
      <color desc="Red"/>
    </chemicalSerie>
    <chemicalSerie id="Actinides">
      <color desc="Red"/>
    </chemicalSerie>
  </chemicalSeries>
  <chemicalSymbols>
    <symbol id="H">
      <color desc="Blue"/>
    </symbol>
  </chemicalSymbols>
  <phases>
    
  </phases>
</configuration>