<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <moleculeSchemeSettings>
    <scheme>NuGenSVisualLib.Rendering.Chem.Schemes.BallAndStickSchemeSettings</scheme>
    <scheme>NuGenSVisualLib.Rendering.Chem.Schemes.MetaballSchemeSettings</scheme>
    <scheme>NuGenSVisualLib.Rendering.Chem.Schemes.SpriteSchemeSettings</scheme>
	  <scheme>NuGenSVisualLib.Rendering.Chem.Schemes.MetaBlobsSchemeSettings</scheme>
    <scheme>NuGenSVisualLib.Rendering.Chem.Schemes.SpaceFillSchemeSettings</scheme>
  </moleculeSchemeSettings>
  <moleculeEffectSettings>
    <effect>NuGenSVisualLib.Rendering.Effects.MonochromeEffectSettings</effect>
    <effect>NuGenSVisualLib.Rendering.Effects.InvertedEffectSettings</effect>
    <effect>NuGenSVisualLib.Rendering.Effects.PPixelLightEffectSettings</effect>
    <effect available="false">NuGenSVisualLib.Rendering.Effects.MetaBlobsEffectSettings</effect>
  </moleculeEffectSettings>
  <elementsShading>
    <templates>
      <module>NuGenSVisualLib.Rendering.Chem.Materials.MoleculeDefaultMaterials</module>
      <module>NuGenSVisualLib.Rendering.Chem.Materials.MoleculeRandomTemplate</module>
      <module>NuGenSVisualLib.Rendering.Chem.Materials.MoleculeAtomicNumberTemplate</module>
    </templates>
  </elementsShading>
</configuration>