<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Netron.Cobalt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Netron.Cobalt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Netron.Cobalt.Properties.Settings>
            <setting name="HttpPort" serializeAs="String">
                <value>1458</value>
            </setting>
            <setting name="HttpEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineStyleStripLocation" serializeAs="String">
                <value>3, 25</value>
            </setting>
            <setting name="DrawingStripLocation" serializeAs="String">
                <value>578, 0</value>
            </setting>
            <setting name="ActionStripLocation" serializeAs="String">
                <value>389, 0</value>
            </setting>
            <setting name="BrowserStripLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="WebBrowserDockState" serializeAs="String">
                <value>Document</value>
            </setting>
            <setting name="DiagramDockState" serializeAs="String">
                <value>Document</value>
            </setting>
            <setting name="PropertyDockState" serializeAs="String">
                <value>DockLeft</value>
            </setting>
            <setting name="ShapesDockState" serializeAs="String">
                <value>DockRight</value>
            </setting>
            <setting name="OutputDockState" serializeAs="String">
                <value>DockBottom</value>
            </setting>
            <setting name="HttpDirectory" serializeAs="String">
                <value>/../../HTTP</value>
            </setting>
            <setting name="ShellDockState" serializeAs="String">
                <value>DockBottom</value>
            </setting>
        </Netron.Cobalt.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Netron.Cobalt.Properties.Settings>
            <setting name="BinarySerializationSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BinaryDeserializationSwitch" serializeAs="String">
                <value>False</value>
            </setting>
        </Netron.Cobalt.Properties.Settings>
    </applicationSettings>
</configuration>