<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleFramework.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DefaultSamplesLocation" serializeAs="String">
                <value>Samples</value>
            </setting>
            <setting name="ScreenshotFileName" serializeAs="String">
                <value>Sample.jpg</value>
            </setting>
            <setting name="DescriptionFileName" serializeAs="String">
                <value>Sample.txt</value>
            </setting>
            <setting name="CSProjectFolderName" serializeAs="String">
                <value>CS</value>
            </setting>
            <setting name="VBProjectFolderName" serializeAs="String">
                <value>VB</value>
            </setting>
            <setting name="CSProjectExtension" serializeAs="String">
                <value>csproj</value>
            </setting>
            <setting name="VBProjectExtension" serializeAs="String">
                <value>vbproj</value>
            </setting>
        </SampleFramework.Properties.Settings>
    </userSettings>
</configuration>