/* r.a.d.upload Office 2007 skin */
.RadUploadTable
{
	background: #c4dbf9;
	border: solid 1px #002d96;
	border-collapse: collapse;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); 
	margin: 5px 0px;
	width: 350px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
}

.RadUploadTable td
{
	padding: 4px;
}

.RadUploadButtonArea
{
	background: transparent;
}

.RadUploadButton, .radUploadButtonMedium
{
	background: transparent url(Img/radUploadBtnMedium.gif) repeat-x;
	border: 0px;
	height: 19px;
	width: 93px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
}

.submitButton
{
	background: transparent url(Img/radUploadBtnMedium.gif) repeat-x;
	border: solid 1px #002d96;
	border: 0px;
	height: 19px;
	width: 93px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
}

.RadUploadButtonDisabled
{
	background: transparent url(Img/radUploadBtnMedium.gif) repeat-x;
	border: solid 1px #002d96;
	border: 0px;
	height: 19px;
	width: 93px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
	filter: alpha(opacity: 30); /* IE */
	-moz-opacity: 0.3; /* Moz */
	opacity: 0.3; /* Moz, CSS3 */
}

.RadUploadFileSelector
{
	/* checkbox */
}

.RadUploadInputField
{
	width: 134px;
	background: white;
	border: solid 1px #7f9db9;
	vertical-align: top;
	height: 13px;
	font-family: normal 11px Arial, Verdana, Sans-Serif;
	color: black;
	padding-top: 3px;
	padding-left: 7px;
	margin-top:2px;
}

input.RealFileInput
{
	position: relative;
	filter: alpha(opacity: 0); /* IE */
	-moz-opacity: 0; /* Moz */
	opacity: 0; /* Moz, CSS3 */
	z-index: 2;
}

.RadUploadSelectButton
{
	border: 0px;
	background: #c4dbf9 url(Img/radUploadBtnLarge.gif) top right no-repeat;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 23px;
	width: 78px;
}

.RadUploadRemoveButton
{
	border: 0px;
	background: transparent url(Img/RadUploadRemoveButtonBg.gif) no-repeat;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 18px;
	padding-left: 3px;
	width: 68px;
	position: relative;
	top: -1px;
	float: right;
}

.RadUploadClearButton
{
	border: 0px;
	background: transparent url(Img/radUploadBtnSmall.gif) no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 22px;
	width: 66px;
	position: relative;
	top: -1px;
	float: right;
}

input.NoSkinnedFileUnput
{
	border: solid 1px #1a43b0;
}