body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 20px 0px;
}

#sidebar {
	position:absolute;
	top: 0px;
	left: 0px;
	padding: 0px;
	width: 190px;
}

#content {
	margin-left: 230px;
	margin-right: 20px;
}
