<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Genetibase.NuGenPresenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Genetibase.NuGenPresenter.Properties.Settings>
            <setting name="PenWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PenColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LockTransformHotKeys" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="SaveHotKeys" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ShowPointerHotKeys" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="ZoomInHotKeys" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="ZoomOutHotKeys" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="ClearHotKeys" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="EscapeHotKeys" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ThumbnailMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ThumbnailSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ConstrainWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConstrainHeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaximumWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MaximumHeight" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="SlideShow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlideBackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SlideAlignment" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="SelectedSlidePath" serializeAs="String">
                <value />
            </setting>
            <setting name="StretchSlide" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomSlideAlignment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideLatency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SlideFitScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawHotKeys" serializeAs="String">
                <value>Ctrl+Shift+D</value>
            </setting>
            <setting name="ZoomHotKeys" serializeAs="String">
                <value>Ctrl+Shift+Z</value>
            </setting>
            <setting name="NumberWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="WatermarkColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="WatermarkColorOpacity" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="WatermarkAlignment" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="ExportDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ExportDialogSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
        </Genetibase.NuGenPresenter.Properties.Settings>
    </userSettings>
</configuration>