/* r.a.d.upload QNX skin */
.RadUploadTable
{
	background: #fafafa url('Img/RadUploadTable.gif');
	border: solid 1px #828282;
	border-collapse: collapse;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); 
	margin: 5px 0px;
	width: 350px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #333;
}

.RadUploadTable td
{
	padding: 4px;
}

.RadUploadButtonArea
{
	background: transparent;
}

.RadUploadButton,
.radUploadButtonMedium
{
	background: transparent url('Img/radUploadBtnMedium.gif') no-repeat;
	border: 0px;
	height: 22px;
	width: 114px;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
}

.RadUploadButtonDisabled
{
	background: transparent url('Img/radUploadBtnMedium.gif') no-repeat;
	border: 0px;
	height: 22px;
	width: 114px;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
	filter:alpha(opacity=30);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.RadUploadFileSelector
{
	/* checkbox */
}

.RadUploadInputField
{
	width: 135px;
	background: url('Img/RadUploadInputField.gif') no-repeat 0 1px;
	_background-attachment: fixed;
	_width: 145px;
	border: 0px;
	height: 21px;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: #000;
	padding-top: 3px;
	padding-left: 6px;
}

* html .RadUploadInputField{background-position:0 0}
*+html .RadUploadInputField{background-position:0 0}

input.RealFileInput
{
	position: relative;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.RadUploadSelectButton
{
	border: 0px;
	background: transparent url('Img/select.gif') no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 22px;
	width: 81px;
	vertical-align: top;
}

.RadUploadRemoveButton
{
	border: 0px;
	background: transparent url('Img/radUploadBtnSmall.gif') no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 22px;
	width: 66px;
	float: right;
}

.RadUploadClearButton
{
	border: 0px;
	background: transparent url('Img/radUploadBtnSmall.gif') no-repeat;
	font: bold 11px Arial, Verdana, Sans-serif;
	color: black;
	height: 22px;
	width: 66px;
	float: right;
}

input.NoSkinnedFileUnput
{
	border: solid 1px #1a43b0;
}