<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EventMonitor.Properties.Settings>
            <setting name="ShowConfirmationsForCleaningEventLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SafeGuardDeletionOfStandardLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorMode" serializeAs="String">
                <value>Icon</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorInformation" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorWarning" serializeAs="String">
                <value>255, 255, 192</value>
            </setting>
            <setting name="ColorError" serializeAs="String">
                <value>LightSalmon</value>
            </setting>
            <setting name="ColorSuccesfulAudit" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="ColorFailureAudit" serializeAs="String">
                <value>LightSteelBlue</value>
            </setting>
        </EventMonitor.Properties.Settings>
    </userSettings>
</configuration>