/* RadWindow WinXP Silver skin */

iframe.RadWContentFrame
{
	background: #fff; /* Mozilla overlay */
}

.RadWContentFrame
{
	scrollbar-face-color: #BACBF4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #7E9FD2;
	scrollbar-3dlight-color: #E6EEFC;
	scrollbar-arrow-color: #4D6185;
	scrollbar-track-color: #F7F7F3;
	scrollbar-darkshadow-color: #C6D1DC;		
}

.RadWStatus
{
	height: 24px;
	background: #d4d0c8 url('CssImg/RadWStatus.gif') repeat-x;
}

.RadWStatus input
{
	font: normal 10px Verdana, Arial, Sans-Serif !important;
	margin-top: 4px;
	margin-left: 2px;
	color: #000;
}

.RadWModalImage
{
	background: url('Img/ModalImageBg.gif');
}

.RadWStatusRow
{
	background: #f7f7f9;
}

.RadWDragHelper
{		
	border : solid 1px #ccc;	
	background: #ccc;	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: 0.5; /* Moz */
	opacity: 0.5; /* CSS3 */
	margin: 0px;
	padding: 0px;	
	position: absolute;
	z-index: 50000;
	overflow: hidden;	
}

.RadWMinimizedActive,
.RadWMinimizedOver
{
	background: transparent url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	width: 60px;
	height: 30px;
	border: solid 1px #66667e;
}

.RadWMinimizedPageLoaded
{
	width: 60px;
	height: 30px;
	background: transparent url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	border: solid 1px #d57252;
}

.RadWMinimizedInactive
{
	width: 60px;
	height: 30px;
	background: transparent url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE */
	-moz-opacity: 0.6; /* Moz */
	opacity: 0.6; /* CSS3 */
	border: solid 1px #66667e;
}

.RadWLoadingWrapper
{
	width: 80px;
	height: 100%;
	vertical-align: middle;
	text-align: center;	
	font-family: normal 11px Verdana, Arial, Sans-Serif;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99); /* IE */
}

.RadWIcon
{
	margin: 0px 2px;	
	cursor: default; /* you can also use cursor: move; */
}

.RadWTitleText
{
	font: bold 11px Verdana, Arial, Tahoma, Sans-Serif;
	color: #000;
	vertical-align: middle;				
}

.RadWButton
{
	cursor: default;
	margin-top: 2px;
	margin-right: 2px;
	vertical-align: top;
}

.RadWWrapperActive
{
	font-size: 0px;	
	/*filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); */
}

.RadWWrapperInactive
{
	font-size: 0px;	
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE */
	-moz-opacity: 0.9; /* Moz */
	opacity: 0.9; /* CSS3 */
}

.RadWWrapperModal
{	
	/*filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=3); */
}

.RadWTitleRow
{
	cursor: default;		
}

.RadWTitleRow TD
{
	padding: 0px;
}

.RadWWrapperHeaderLeft
{
	width: 6px;
	height: 30px !important;
	display: block;
	background: url('CssImg/RadWWrapperHeaderLeft.gif') no-repeat;
}

.RadWHeaderTopResizer
{
	font-size: 0px;
	height: 2px;
	background: #dfe0e5 url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x top;
}

.RadWWrapperHeaderCenter
{
	height: 28px;
	font-family: normal medium Verdana, Arial, Tahoma; /* make sure you always set a value */
	text-align: left;
	color: #fff;
	background: #dfe0e5 url('CssImg/RadWWrapperHeaderCenter.gif') repeat-x bottom;
}

.RadWWrapperHeaderRight
{
	width: 6px;
	height: 30px !important;
	display: block;
	background: url('CssImg/RadWWrapperHeaderRight.gif') no-repeat;
}

.RadWWrapperBodyLeft
{
	width: 3px;
	background: #0023d6 url('CssImg/RadWWrapperBodyLeft.gif') repeat-y;
}

/* Mozilla 1.5 Fix */
.RadWWrapperBodyLeft:before
{
	content: " ";
	display: block;
	width: 3px;
}

.RadWWrapperBodyCenter
{
	width: 100%;
	height: 100%;
}

.RadWWrapperBodyRight
{
	width: 3px;
	background: red url('CssImg/RadWWrapperBodyRight.gif') repeat-y;
}

/* Mozilla 1.5 Fix */
.RadWWrapperBodyRight:before
{
	content: " ";
	display: block;
	width: 3px;
}

.RadWWrapperFooterLeft
{
	height: 2px;
	font-size: 0px;
	border-left: solid 1px #66667e;
	border-bottom: solid 1px #66667e;
	background-color: #f7f7f9;
}

.RadWWrapperFooterCenter
{
	height: 2px;
	font-size: 0px;
	border-bottom: solid 1px #66667e;
	background-color: #f7f7f9;
}

.RadWWrapperFooterRight
{
	height: 2px;
	font-size: 0px;
	border-right: solid 1px #66667e;
	border-bottom: solid 1px #66667e;
	background-color: #f7f7f9;
}