<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Next2Friends</title>
</head>
<body style="width:100%;height:100%;margin:0;padding:0;">
<div style="margin:0;width:100%;">
	<div style="width:680px;margin:0px;padding:0; background:#ffffff;text-align:left;font-family:Arial, Helvetica, sans-serif;">		
		<div style="margin:0;padding:0 35px 20px;font-size:12px;color:#49565e;line-height:20px;">
			Dear <#FirstName#>,
			<p>
            You have a New Message from <#OtherFirstName#>! You can view your new message here:  
            </p>
            <p>
            <a href="http://www.next2friends.com/inbox">http://www.next2friends.com/inbox</a>
            </p>
            <p>
            Or just login to your Next2Friends account and click on your Inbox.
            </p>			
            <p>
            Thanks for being an important part of the community. See you on <a href="http://www.next2friends.com/">Next2Friends!</a>
            </p>
            
            <p>
                Very Best,
            </p>
            
			<p>The Next2Friends Team</p>
			<p>
	        </p>
			    <h1 style="font-size:24px;">
                    <a href="http://www.next2friends.com" title="Next2Friends">
	                    <img src="http://www.next2friends.com/images/logo.gif" width="210" height="41" alt="Next2Friends" style="border:none;" />
                    </a>
	            </h1>
			<p>
                ***To deactivate email notifications please login to your Next2Friends account and <a href="http://www.next2friends.com/settings.aspx">edit your settings</a>***
            </p> 			
	</div>
</div>
</div>
</body>
</html>
